# Lemon Toy Problem A

This is an example optimisation problem that demonstrates the low-level functionality available in the `mola` package for manipulating openLCA data in a notebook.

## Problem Statement
 
A citrus fruit juice producer wishes to transport 1 tonne of lemons from Spain to their UK operation. They would like to choose a freight transport option that minimises the environmental impact on climate change. The freight transport options are by road in a light commercial vehicle, diesel train or sea tanker. 

Assumptions
* All data can be sourced from openLCA
* Each mode of transport leads to the same distance travelled.
* The cost of the lemons and their transport can be ignored.

## Specification

In this section we translate the problem statement into the general specification v5.

We choose the system openLCA database EcoInvent to source data for the problem and we fix the environmental impact category as $kpi =\text{"climate change - GWP100, ReCiPe Midpoint (H) V1.13"}$. 

There is no time dependence so we can drop the subscript $t$ and there is no temporary storage facility so $F_s=\emptyset$ and $S_{f_s}=0$. There is a single task and demand so the subscripts $k$ and $d$ can be dropped.

There is one material product flow with index in $f_m=$\{'lemon'\}. The material process index set for the problem is $P_m$=\{'lemon production in Spain'\}.

The transport process index set is $P_t$=\{'transport by road from Spain', 'transport by rail from Spain', 'transport by tanker from Spain'\}. The transport flow index set is $F_t$=\{'transport, freight, light commercial vehicle', 'transport, freight train','transport, freight, sea, container ship'\}. 

The total demand for lemons is $D^{total}=1$tonne.

In this problem, we minimise the environmental impact of sourcing lemons from Spain using different modes of transport. The objective is

$$
\min_{Flow_{f_m, p_m}, t_{f_t, p_t}, f_{f_m, p_m, f_t, p_t}}Flow_{f_m, p_m} EI_{kpi, f_m, p_m} + \sum_{f_t, p_t}t_{f_t,p_t}EI_{kpi, f_t, p_t}.
$$

where $Flow_{f_m, p_m}$ is the material flow of lemons in kg, $t_{f_t, p_t}$ is the quantity of lemons times distance that they are transported in km, $f_t$ is the mode of transport and $p_t$ is the transport process.

The flow of lemons satisfies

$$
Flow_{f_m, p_m}=\sum_{f_t, p_t}f_{f_m, p_m, f_t, p_t},
$$

where $f_{f_m, p_m, f_t, p_t}$ is the total quantity of lemons in kg transported by transport flow $f_t$ arising through transport process $p_t$. There is no need for a linking parameter for this problem because each transport process is linked to the material process.

The quantity of lemons transported by flow $f_t$ times the distance travelled is

$$
t_{f_t, p_t} = f_{f_m, p_m, f_t, p_t}d_{p_m, f_m},
$$

where $d_{p_m, f_m}$ is the distance in km travelled by lemons from the production process $p_m$ in Spain and London. We assume the distance travelled is the same for each transport mode.

Thus

$$
d_{p_m,f_m}=\text{Haversine}(Y, X, Y_{p_m, f_m}^I, X_{p_m, f_m}^I)
$$

where $(X,Y)$ is the Longitude and Latitude of the London in the UK, and $(X^I_{p_m,f_m}, Y^I_{p_m,f_m})$ is the longitude and latitude of Spain from openLCA location data. The Haversine formula calculates the great circle distance between points on the earth's surface.

The environmental impact of lemon fruit growth is

$$
EI_{kpi, f_m, p_m} = \sum_e Ef_{kpi, e}EF_{e, f_m, p_m} 
$$

where the set of environmental flows are indexed by $E$ and $p_m=$'Lemons grown in Spain'. This data can be sourced from openLCA.

The environmental impact of transporting lemons using mode $f_t$ is

$$
EI_{kpi, f_t, p_t} = \sum_e Ef_{kpi, e}EF_{e, f_t, p_t},
$$

where $p\in$ \{'transport by road from Spain', 'transport by rail from Spain', 'transport by tanker from Spain'\} using openLCA data.

We also have the constraint that the flow must be sufficient to satisfy the demand $D^{total}=1000$ kg of lemons.

$$
Flow_{f_m, p_m} C_{f_m} \ge D^{total}.
$$

where the conversion factor from flow to demand is $C_{f_m}=1$ kg per kg.

Each decision variable is non-negative.

## Analytical Solution

We can ignore the impact of lemon growth in the objective and the distance between Spain and London in order to find the optimal solution because they do not vary with the decision of which transport mode to take. The objective is

$$
\min_{f_{f_m, p_m, f_t, p_t}}\sum_{f_t, p_t}f_{f_m, p_m, f_t, p_t}EI_{kpi, p, f_t},
$$ 

where 

$$
\sum_{f_t} f_{f_m, p_m, f_t, p_t} \ge 1000 \,\text{kg},\quad f_{f_m, p_m, f_t, p_t}\ge 0.
$$

So the solution is $f_{f_m, p_m, f_t, p_t}=1000$ kg for whichever tranport mode $f_t$ has smallest environmental impact $EI_{kpi, p_t, f_t}$ (assuming there is only one).

# Using openLCA data

The dataview module from the `mola` Python package provides simple functions to retrieve data from an openLCA database.

## Low-level functions

First we load the `mola` modules.

In [1]:
import mola.dataview as dv
import mola.dataimport as di

We get a connection to a pre-defined sqlite database built from an openLCA zolca using the following function.

In [2]:
dbconn = di.get_sqlite_connection()

There are low-level functions to find the table names and then retrieve raw tables from the openlca database.

In [3]:
dv.get_table_names(dbconn)

SELECT "name" FROM "sqlite_master" WHERE "type"='table' AND "name" NOT LIKE 'sqlite_'

['TBL_ACTORS',
 'TBL_CATEGORIES',
 'TBL_CURRENCIES',
 'TBL_DQ_INDICATORS',
 'TBL_DQ_SCORES',
 'TBL_DQ_SYSTEMS',
 'TBL_EXCHANGES',
 'TBL_FLOWS',
 'TBL_FLOW_PROPERTIES',
 'TBL_FLOW_PROPERTY_FACTORS',
 'TBL_IMPACT_CATEGORIES',
 'TBL_IMPACT_FACTORS',
 'TBL_IMPACT_METHODS',
 'TBL_LOCATIONS',
 'TBL_PROCESSES',
 'TBL_PROCESS_DOCS',
 'TBL_PROCESS_LINKS',
 'TBL_PRODUCT_SYSTEMS',
 'TBL_PRODUCT_SYSTEM_PROCESSES',
 'TBL_SOURCES',
 'TBL_UNITS',
 'TBL_UNIT_GROUPS']

In [4]:
dfr = dv.get_table(dbconn, 'TBL_LOCATIONS')
dfr

SELECT * FROM "TBL_LOCATIONS"

,ID,REF_ID,NAME,DESCRIPTION,VERSION,LAST_CHANGE,F_CATEGORY,LONGITUDE,LATITUDE,CODE,KMZ
0,501,00c66f1a-036b-38f9-8b70-9cb8d925d3d9,Yemen,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,1.0,1.575970e+12,None,48.350000,15.800000,YE,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
1,502,01b6e203-44b6-3835-85ed-1ddedf20d531,Tonga,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,1.0,1.575970e+12,None,-175.180000,-21.200000,TO,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
2,503,0273c379-31a2-34e3-9d4a-351b4c0f4ef2,EU candidate countries 2007,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,NaN,NaN,None,0.000000,0.000000,EC-CC2007,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
3,504,0288bde0-c2d5-33f2-b576-6f61b826a650,Niue,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,1.0,1.575970e+12,None,-169.860000,-19.050000,NU,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
4,505,02cb9a5a-488d-3ea0-84d9-3ae7b315e386,Western Asia,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,1.0,1.575970e+12,None,43.360000,28.460000,UN-WASIA,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
...,...,...,...,...,...,...,...,...,...,...,...
573,36097873,3ac78d5e-cc6a-38b2-ad2c-18694933387a,"India, Islands",C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,0.0,1.575970e+12,None,92.880187,11.135444,IN-Islands,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
574,36097874,8088f809-4240-3a5f-b3ff-5ccad9f1e40f,Florida Reliability Coordinating Council,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,0.0,1.575970e+12,None,-81.902393,28.341743,US-FRCC,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
575,36097875,1662d8df-a168-3d22-a99f-9b180cc86f66,SERC Reliability Corporation,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,0.0,1.575970e+12,None,-86.471492,35.005265,US-SERC,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
576,36097876,2a47e9b9-c8a9-3aa8-851b-5f388e6dfdfc,Southwest Power Pool,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,0.0,1.575970e+12,None,-97.900958,36.185030,US-SPP,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...
577,36097877,0cbcf9ee-a06a-3b2a-b9d6-1eca2f3a5565,Texas Regional Entity,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...,0.0,1.575970e+12,None,-99.213397,30.929816,US-TRE,C:/data/CSV/system/juice_ecoinvent_36_apos_lci...

## High-level functions

Higher level functions provide views and joins of the raw table data in the database.

The elementary flow table maps an ID to a elementary flow name. We can obtain a table of elementary flows using the following function.

In [5]:
dfr = dv.get_elementary_flows(dbconn)
dfr

SELECT "ID","REF_ID","NAME" FROM "TBL_FLOWS" WHERE "FLOW_TYPE"='ELEMENTARY_FLOW'

,ID,REF_ID,NAME
0,125157,0f440cc0-0f74-446d-99d6-8ff0e97a2444,Ammonia
1,125159,e336eee7-148a-4d1c-8027-780cbfafa12b,Copper
2,125161,e6551223-73b6-4289-b841-c5cdeb25abd9,Selenium
3,125163,33b38ccb-593b-4b11-b965-10d747ba3556,"NMVOC, non-methane volatile organic compounds,..."
4,125165,afd6d670-bbb0-4625-9730-04088a5b035e,Dinitrogen monoxide
...,...,...,...
3925,36101714,183f9856-03ab-464d-9366-8ef62077b510,Antimony
3926,36101716,0e7c1a7b-cd98-4f8d-a619-a687d3e2cb48,"Ethene, trichloro-"
3927,36101718,689ffb9a-b596-4191-b458-2908dc2d075c,Vanadium
3928,36101720,49803ad0-9ca2-4507-a5ea-f152d16c929d,Antimony
3929,36101722,05bfed24-3408-42a2-9208-daec1538905d,Cyanazine

There are around 18000 processes in the default Ecoinvent database. So the dataview module provides a function to search for processes by name and location. The percent character is a wildcard.

In [6]:
dv.get_processes(dbconn, name=['%Lemon%'])

SELECT "TBL_PROCESSES"."ID","TBL_PROCESSES"."REF_ID","TBL_PROCESSES"."NAME","TBL_PROCESSES"."PROCESS_TYPE","TBL_LOCATIONS"."NAME" "LOCATION","TBL_PROCESSES"."F_QUANTITATIVE_REFERENCE" FROM "TBL_PROCESSES" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_PROCESSES"."NAME" LIKE '%Lemon%'

,ID,REF_ID,NAME,PROCESS_TYPE,LOCATION,F_QUANTITATIVE_REFERENCE
0,4578980,14a094df-5988-3a57-96eb-cca3482628b0,"market for lemon | lemon | APOS, S",LCI_RESULT,Global,4578982
1,5409534,64867712-23c4-3be5-a50e-3631e74571a6,"lemon production | lemon | APOS, S",LCI_RESULT,Spain,5409536
2,5764475,4ce4cc23-c7be-3317-a9fb-45d4d4a0a8ab,"lemon production | lemon | APOS, S",LCI_RESULT,Rest-of-World,5764477
3,12597999,9f6a92b7-80aa-3705-8cae-042e064e3090,"lemon production | lemon | APOS, S",LCI_RESULT,Turkey,12598001
4,34323860,727a873a-27de-3274-a0ae-ecd2c90b122f,"lemon production | lemon | APOS, S",LCI_RESULT,Mexico,34323862

The quantitative reference identifies an exchange that links the process to its reference flow.

In [7]:
dv.get_exchanges(dbconn, id=4578982)

SELECT "ID","F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "ID"=4578982

        ID  F_OWNER  F_FLOW  F_UNIT  RESULTING_AMOUNT_VALUE
0  4578982  4578980  132016    1056                     1.0

Here F_OWNER is the process id that owns the exchange, F_FLOW is the id of the reference flow and the resulting amount is the product flow amount in the unit referenced by F_UNIT. 

We can get back just the process REF_IDs from a search using

In [8]:
process_ref_ids = dv.get_process_ref_ids(dbconn, name=['Lemon%'])
process_ref_ids

SELECT "TBL_PROCESSES"."REF_ID" FROM "TBL_PROCESSES" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_PROCESSES"."NAME" LIKE 'Lemon%'

['64867712-23c4-3be5-a50e-3631e74571a6',
 '4ce4cc23-c7be-3317-a9fb-45d4d4a0a8ab',
 '9f6a92b7-80aa-3705-8cae-042e064e3090',
 '727a873a-27de-3274-a0ae-ecd2c90b122f']

There is a single unit process in the default database for reference.

In [9]:
dv.get_processes(dbconn, name=['Process Z'])

SELECT "TBL_PROCESSES"."ID","TBL_PROCESSES"."REF_ID","TBL_PROCESSES"."NAME","TBL_PROCESSES"."PROCESS_TYPE","TBL_LOCATIONS"."NAME" "LOCATION","TBL_PROCESSES"."F_QUANTITATIVE_REFERENCE" FROM "TBL_PROCESSES" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_PROCESSES"."NAME" LIKE 'Process Z'

,ID,REF_ID,NAME,PROCESS_TYPE,LOCATION,F_QUANTITATIVE_REFERENCE
0,36098004,48b9f68d-cb46-4fdd-a20b-95b5df78dfdf,Process Z,UNIT_PROCESS,None,36098006

In [10]:
dv.get_product_flows(dbconn, name=['lemon%', 'orange%', 'mandarin%'])

SELECT "ID","REF_ID","NAME" FROM "TBL_FLOWS" WHERE "FLOW_TYPE"='PRODUCT_FLOW' AND ("name" LIKE 'lemon%' OR "name" LIKE 'orange%' OR "name" LIKE 'mandarin%')

       ID                                REF_ID                        NAME
0  129718  1f7bbd3e-fcd1-412d-8608-035b855ea735         orange, fresh grade
1  132016  9891d347-28f8-434d-896a-84a19a4c68a6                       lemon
2  134705  ec4fd0d0-b3f5-4585-a2f9-98240429eac3  mandarin, processing grade
3  134735  01d3bb5a-645e-485c-9661-cdcebf93385c    orange, processing grade
4  135345  0b588bb3-b211-420e-80ed-f6f4fba01f8a       mandarin, fresh grade
5  135455  9c6b672a-661e-40c3-a9a0-902b33cc6871                    mandarin

In [11]:
product_ref_ids = dv.get_product_flow_ref_ids(dbconn, name=['lemon', 'orange%p%', 'mandarin%P%'])
product_ref_ids

SELECT "REF_ID" FROM "TBL_FLOWS" WHERE "FLOW_TYPE"='PRODUCT_FLOW' AND ("name" LIKE 'lemon' OR "name" LIKE 'orange%p%' OR "name" LIKE 'mandarin%P%')

['9891d347-28f8-434d-896a-84a19a4c68a6',
 'ec4fd0d0-b3f5-4585-a2f9-98240429eac3',
 '01d3bb5a-645e-485c-9661-cdcebf93385c']

We can get the breakdown of a product output flow from a process into elementary flows.

In [12]:
process_elementary_dfr = dv.get_process_elementary_flow(dbconn, ref_ids=process_ref_ids, limit_exchanges=None)
process_elementary_dfr

SELECT "e"."F_OWNER","e"."F_FLOW","e"."F_UNIT","e"."RESULTING_AMOUNT_VALUE","TBL_FLOWS"."FLOW_TYPE","TBL_FLOWS"."REF_ID" FROM (SELECT "F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "F_OWNER" IN (5409534,5764475,12597999,34323860)) "e" LEFT JOIN "TBL_FLOWS" ON "TBL_FLOWS"."ID"="e"."F_FLOW" WHERE "TBL_FLOWS"."FlOW_TYPE"='ELEMENTARY_FLOW'

,64867712-23c4-3be5-a50e-3631e74571a6,4ce4cc23-c7be-3317-a9fb-45d4d4a0a8ab,9f6a92b7-80aa-3705-8cae-042e064e3090,727a873a-27de-3274-a0ae-ecd2c90b122f
REF_ID,,,,
00012c0a-9bff-4787-a7eb-56c3d2f43692,3.315358e-11,3.537200e-11,7.379112e-11,2.143797e-11
0015ec22-72cb-4af1-8c7b-0ba0d041553c,3.310572e-11,9.230810e-11,7.169612e-11,1.202275e-10
0017271e-7df5-40bc-833a-36110c1fe5d5,2.314766e-08,2.739918e-08,1.928944e-08,3.124432e-08
001790f3-fd86-4a0d-a2a1-06c7099d90c8,1.216010e-05,1.236320e-05,8.304251e-06,2.156249e-05
0017ce28-9f7a-404b-ad55-d3f43ad13cae,8.560851e-14,6.166200e-14,1.592893e-13,1.611737e-14
...,...,...,...,...
ff36578b-f403-4656-b934-81d8d4e02dc8,5.983466e-09,1.028824e-08,7.814235e-09,8.067001e-09
ff65658c-2d39-44a2-b23e-7ec3c644f064,7.704246e-06,9.875376e-06,1.338127e-05,6.799632e-06
ff6dccc1-5ebd-42c3-9fd9-3d73db7a3dd2,2.270127e-10,1.969600e-10,3.703580e-10,1.010055e-10
ffaaffd3-5deb-4508-9e5f-e47f551ac2b8,1.224823e-12,3.121575e-12,2.678038e-12,3.933826e-12
ffbe8447-6d78-46dd-8378-47019a82ce82,3.046266e-11,4.446081e-11,3.686342e-11,5.419525e-11

We cannot get a direct breakdown of a product flow into its elementary flows because of how the database
is structured. A product flow can be linked to many different processes in TBL_EXCHANGES. For example, the lemon flow is linked to processes for each region of production and there is an elementary breakdown for each of these processes. Location is part of the process not the flow.

We can see the processes that use a given product flow by using the function below.

In [13]:
product_flow_in_process_dfr = dv.get_product_flow_in_process(dbconn, product_id=[132016], limit_exchanges=None)
product_flow_in_process_dfr

SELECT "TBL_PROCESSES"."ID" "PROCESS_ID","TBL_PROCESSES"."NAME" "PROCESS_NAME","sq0"."F_FLOW" "FLOW_ID","TBL_FLOWS"."NAME" "FLOW_NAME","TBL_PROCESSES"."F_LOCATION" "PROCESS_LOCATION" FROM (SELECT "F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "F_FLOW" IN (132016)) "sq0" LEFT JOIN "TBL_PROCESSES" ON "TBL_PROCESSES"."ID"="sq0"."F_OWNER" LEFT JOIN "TBL_FLOWS" ON "TBL_FLOWS"."ID"="sq0"."F_FLOW"

,PROCESS_ID,PROCESS_NAME,FLOW_ID,FLOW_NAME,PROCESS_LOCATION
0,4578980,"market for lemon | lemon | APOS, S",132016,lemon,668.0
1,5409534,"lemon production | lemon | APOS, S",132016,lemon,537.0
2,5764475,"lemon production | lemon | APOS, S",132016,lemon,955.0
3,12597999,"lemon production | lemon | APOS, S",132016,lemon,936.0
4,34323860,"lemon production | lemon | APOS, S",132016,lemon,620.0
5,36098004,Process Z,132016,lemon,NaN

We can obtain a table of impact methodologies restricted by name.

In [14]:
impact_category_dfr = dv.get_impact_categories(dbconn, method_name=['ReCiPe Midpoint (H) V1.13'])
impact_category_dfr

SELECT "TBL_IMPACT_METHODS"."ID" "methods_ID","TBL_IMPACT_METHODS"."REF_ID" "methods_REF_ID","TBL_IMPACT_METHODS"."NAME" "methods_NAME","TBL_IMPACT_CATEGORIES"."ID" "categories_ID","TBL_IMPACT_CATEGORIES"."REF_ID" "categories_REF_ID","TBL_IMPACT_CATEGORIES"."NAME" "categories_NAME" FROM "TBL_IMPACT_CATEGORIES" LEFT JOIN "TBL_IMPACT_METHODS" ON "TBL_IMPACT_CATEGORIES"."F_IMPACT_METHOD"="TBL_IMPACT_METHODS"."ID" WHERE "TBL_IMPACT_METHODS"."name" LIKE 'ReCiPe Midpoint (H) V1.13'

,methods_ID,methods_REF_ID,methods_NAME,categories_ID,categories_REF_ID,categories_NAME
0,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36139392,515aa8fc-27aa-3ec8-9b0b-42a8bd26a26b,metal depletion - MDP
1,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36134269,8060a79a-473c-3834-b874-6d25239d06f3,marine ecotoxicity - METPinf
2,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36135829,42b1e910-3bd2-3741-85ce-a3966798440b,climate change - GWP100
3,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36132595,dea5d939-c042-300a-916c-dd903180575f,human toxicity - HTPinf
4,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36139540,3bb7b9c4-6934-325c-974c-12d2ed74407b,fossil depletion - FDP
5,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36134054,e762c963-e5e8-33eb-829c-bff1110c5ecd,water depletion - WDP
6,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36136043,e84190cb-0e34-34a8-aca6-78de883d7409,freshwater ecotoxicity - FETPinf
7,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36139181,fa0789f2-602a-35c6-a6f3-fabc100f21e4,photochemical oxidant formation - POFP
8,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36133837,f10f3229-9d8f-30dd-8ff9-51413d46f94d,ionising radiation - IRP_HE
9,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36139478,4fa0339d-af04-336e-9772-19fdc201afeb,urban land occupation - ULOP
10,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36134074,446d9408-01ff-3e5c-a4b0-2e07c5b8517b,natural land transformation - NLTP
11,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36134242,ecb568fa-94a5-3a0c-9f8e-61f43d6ac0c2,particulate matter formation - PMFP
12,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36134195,483dac29-100d-3b29-ab59-fe6ea273afbd,marine eutrophication - MEP
13,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36133820,3f8964fa-4ca7-3e65-9980-1a3c439fed67,terrestrial acidification - TAP100
14,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36139491,1aff4012-dc1f-389b-b159-dea32f6672f1,agricultural land occupation - ALOP
15,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36135985,ca66df4b-0715-3669-b188-3e056792c036,ozone depletion - ODPinf
16,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36137602,d61fe21d-eebc-320f-8329-e77421bac320,terrestrial ecotoxicity - TETPinf
17,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36134060,cb7138bf-75df-36b5-b75c-1b5dda0443a9,freshwater eutrophication - FEP

In [15]:
impact_category_dfr = dv.get_impact_categories(dbconn, method_name=['ReCiPe Midpoint (H) V1.13'], category_name=['Climate change - GWP100%'])
impact_category_dfr

SELECT "TBL_IMPACT_METHODS"."ID" "methods_ID","TBL_IMPACT_METHODS"."REF_ID" "methods_REF_ID","TBL_IMPACT_METHODS"."NAME" "methods_NAME","TBL_IMPACT_CATEGORIES"."ID" "categories_ID","TBL_IMPACT_CATEGORIES"."REF_ID" "categories_REF_ID","TBL_IMPACT_CATEGORIES"."NAME" "categories_NAME" FROM "TBL_IMPACT_CATEGORIES" LEFT JOIN "TBL_IMPACT_METHODS" ON "TBL_IMPACT_CATEGORIES"."F_IMPACT_METHOD"="TBL_IMPACT_METHODS"."ID" WHERE "TBL_IMPACT_METHODS"."name" LIKE 'ReCiPe Midpoint (H) V1.13' AND "TBL_IMPACT_CATEGORIES"."name" LIKE 'Climate change - GWP100%'

,methods_ID,methods_REF_ID,methods_NAME,categories_ID,categories_REF_ID,categories_NAME
0,36132594,dc7995f0-623b-41a2-ad70-bf62a1b5e652,ReCiPe Midpoint (H) V1.13,36135829,42b1e910-3bd2-3741-85ce-a3966798440b,climate change - GWP100

We need one impact category REF_ID for this calculation.

In [16]:
impact_ref_ids = dv.get_impact_category_ref_ids(dbconn, method_name=['ReCiPe Midpoint (H) V1.13'], category_name=['Climate change - GWP100%'])
impact_ref_ids

SELECT "TBL_IMPACT_METHODS"."ID" "methods_ID","TBL_IMPACT_METHODS"."REF_ID" "methods_REF_ID","TBL_IMPACT_METHODS"."NAME" "methods_NAME","TBL_IMPACT_CATEGORIES"."REF_ID" "categories_REF_ID" FROM "TBL_IMPACT_CATEGORIES" LEFT JOIN "TBL_IMPACT_METHODS" ON "TBL_IMPACT_CATEGORIES"."F_IMPACT_METHOD"="TBL_IMPACT_METHODS"."ID" WHERE "TBL_IMPACT_METHODS"."name" LIKE 'ReCiPe Midpoint (H) V1.13' AND "TBL_IMPACT_CATEGORIES"."name" LIKE 'Climate change - GWP100%'

['42b1e910-3bd2-3741-85ce-a3966798440b']

The following function gets the impact factors for a methodology for a given list of category reference ids. The Dataframe returned has rows indexed by elementary flow reference id. The column names are reference ids for the impact category in the openLCA database.

In [17]:
impact_element_dfr = dv.get_impact_category_elementary_flow(dbconn, ref_ids=impact_ref_ids, limit_factors=None)
impact_element_dfr

SELECT "ic"."REF_ID" "IMPACT_CATEGORY_REF_ID","TBL_FLOWS"."REF_ID" "FLOW_REF_ID","TBL_IMPACT_FACTORS"."value" FROM (SELECT "ID","REF_ID" FROM "TBL_IMPACT_CATEGORIES" WHERE "REF_ID" IN ('42b1e910-3bd2-3741-85ce-a3966798440b')) "ic" LEFT JOIN "TBL_IMPACT_FACTORS" ON "TBL_IMPACT_FACTORS"."F_IMPACT_CATEGORY"="ic"."ID" LEFT JOIN "TBL_FLOWS" ON "TBL_IMPACT_FACTORS"."F_FLOW"="TBL_FLOWS"."ID"

IMPACT_CATEGORY_REF_ID                42b1e910-3bd2-3741-85ce-a3966798440b
FLOW_REF_ID
033d3a16-e1a2-4ce8-8769-f4ea867801ca                                 725.0
04a6edb8-624a-484e-8f85-d771657adae7                                 151.0
050da0cd-2957-45a9-ae7a-ace372083fe5                                  77.0
06a4fedf-dab4-4ef1-90df-1d0ce8fe6477                                1890.0
0795345f-c7ae-410c-ad25-1845784c75f5                                  25.0
...                                                                    ...
f8cf5fd7-9f94-4870-9e6a-768deae9b766                               17200.0
f9749677-9c9f-4678-ab55-c607dfdc2cb9                                   1.0
fa0c2bee-8dd9-4f8a-8489-b1f3b43de958                                1430.0
fbf6ab3a-74e3-4cbe-b61d-959728bdce46                                  31.0
fdf090d7-ee05-4f33-8b7f-5504c718c3cd                               17200.0

[155 rows x 1 columns]

# Pyomo implementation

In [18]:
from pyomo.environ import * 
from pyomo.environ import units as u
import pandas as pd
olca_model_A = ConcreteModel()

## Define sets

Set are defined using openLCA reference ids. The relevant openLCA transport flows are shown below.

In [19]:
dfr = dv.get_product_flows(dbconn, name=['transport, freight, light commercial vehicle',
                                   'transport, freight train', 
                                   'transport, freight, sea, container ship'])
flow_ref_ids = dfr['REF_ID'].to_list()
dfr

SELECT "ID","REF_ID","NAME" FROM "TBL_FLOWS" WHERE "FLOW_TYPE"='PRODUCT_FLOW' AND ("name" LIKE 'transport, freight, light commercial vehicle' OR "name" LIKE 'transport, freight train' OR "name" LIKE 'transport, freight, sea, container ship')

,ID,REF_ID,NAME
0,130167,0ace02fa-eca5-482d-a829-c18e46a52db4,"transport, freight train"
1,131603,090f56b8-6a83-48c1-ae26-234d04771e53,"transport, freight, light commercial vehicle"
2,135867,2741cea8-327f-4e0f-9401-b10858dc68f8,"transport, freight, sea, container ship"

The relevant processes for the problem are shown below.

In [20]:
production_dfr = dv.get_processes(dbconn, name=['lemon production%'], location=['Spain'])
production_dfr

SELECT "TBL_PROCESSES"."ID","TBL_PROCESSES"."REF_ID","TBL_PROCESSES"."NAME","TBL_PROCESSES"."PROCESS_TYPE","TBL_LOCATIONS"."NAME" "LOCATION","TBL_PROCESSES"."F_QUANTITATIVE_REFERENCE" FROM "TBL_PROCESSES" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_PROCESSES"."NAME" LIKE 'lemon production%' AND "TBL_LOCATIONS"."NAME" LIKE 'Spain'

,ID,REF_ID,NAME,PROCESS_TYPE,LOCATION,F_QUANTITATIVE_REFERENCE
0,5409534,64867712-23c4-3be5-a50e-3631e74571a6,"lemon production | lemon | APOS, S",LCI_RESULT,Spain,5409536

In [21]:
transport1_dfr = dv.get_processes(dbconn, name=[
    'transport, freight, light commercial vehicle | transport, freight, light commercial vehicle | APOS, S',
    'transport, freight train, diesel | transport, freight train | APOS, S'], location=['Europe without Switzerland'])
transport2_dfr = dv.get_processes(dbconn, name=[
    'transport, freight, sea, container ship | transport, freight, sea, container ship | APOS, S'], location=['Global'])
transport_ref_ids = transport1_dfr['REF_ID'].to_list() + transport2_dfr['REF_ID'].to_list()
material_ref_ids = production_dfr['REF_ID'].to_list()
process_ref_ids = material_ref_ids + transport_ref_ids
transport1_dfr.append(transport2_dfr)

SELECT "TBL_PROCESSES"."ID","TBL_PROCESSES"."REF_ID","TBL_PROCESSES"."NAME","TBL_PROCESSES"."PROCESS_TYPE","TBL_LOCATIONS"."NAME" "LOCATION","TBL_PROCESSES"."F_QUANTITATIVE_REFERENCE" FROM "TBL_PROCESSES" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE ("TBL_PROCESSES"."NAME" LIKE 'transport, freight, light commercial vehicle | transport, freight, light commercial vehicle | APOS, S' OR "TBL_PROCESSES"."NAME" LIKE 'transport, freight train, diesel | transport, freight train | APOS, S') AND "TBL_LOCATIONS"."NAME" LIKE 'Europe without Switzerland'
SELECT "TBL_PROCESSES"."ID","TBL_PROCESSES"."REF_ID","TBL_PROCESSES"."NAME","TBL_PROCESSES"."PROCESS_TYPE","TBL_LOCATIONS"."NAME" "LOCATION","TBL_PROCESSES"."F_QUANTITATIVE_REFERENCE" FROM "TBL_PROCESSES" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_PROCESSES"."NAME" LIKE 'transport, freight, sea, container ship | transport, freight, sea, container ship | APOS, S' AND "TBL_LOCATIONS"."NAME" LIKE 'Global'

,ID,REF_ID,NAME,PROCESS_TYPE,LOCATION,F_QUANTITATIVE_REFERENCE
0,10990570,b0d5d6ec-77f4-3213-b613-2391089d5f96,"transport, freight train, diesel | transport, ...",LCI_RESULT,Europe without Switzerland,10990572
1,33642886,13e79207-71e6-36c9-be76-716700ea1e81,"transport, freight, light commercial vehicle |...",LCI_RESULT,Europe without Switzerland,33642888
0,25967156,3886c7a5-bb83-41d8-9b20-41c0df9742ce,"transport, freight, sea, container ship | tran...",LCI_RESULT,Global,25967158

In [22]:
all_flow_ids = dv.get_product_flow_ref_ids(dbconn)
olca_model_A.AF = Set(initialize=all_flow_ids, doc='All flows')
olca_model_A.Fm = Set(initialize=dv.get_product_flow_ref_ids(dbconn, name=['lemon']), doc='Material flows to optimise')
olca_model_A.Ft = Set(initialize=flow_ref_ids, doc='Transport flows to optimise')
olca_model_A.P = Set(initialize=process_ref_ids, doc='Processes in the optimisation problem')
olca_model_A.Pm = Set(initialize=material_ref_ids, doc='Processes with material output flows')
olca_model_A.Pt = Set(initialize=transport_ref_ids, doc='Processes with transport output flows')
olca_model_A.E = Set(initialize=dv.get_elementary_flow_ref_ids(dbconn), doc='Elementary Flows from OpenLCA database')
olca_model_A.P.pprint()

SELECT "REF_ID" FROM "TBL_FLOWS" WHERE "FLOW_TYPE"='PRODUCT_FLOW'
SELECT "REF_ID" FROM "TBL_FLOWS" WHERE "FLOW_TYPE"='PRODUCT_FLOW' AND "name" LIKE 'lemon'
SELECT "REF_ID" FROM "TBL_FLOWS" WHERE "FLOW_TYPE"='ELEMENTARY_FLOW'
P : Processes in the optimisation problem
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :    4 : {'64867712-23c4-3be5-a50e-3631e74571a6', 'b0d5d6ec-77f4-3213-b613-2391089d5f96', '13e79207-71e6-36c9-be76-716700ea1e81', '3886c7a5-bb83-41d8-9b20-41c0df9742ce'}

We find an impact category reference id and use it so set the $kpi$ in the model.

In [23]:
# Set the KPI
kpi_ref_id = dv.get_impact_category_ref_ids(dbconn, method_name=['ReCiPe Midpoint (H) V1.13'], 
                                            category_name=['Climate change - GWP100%'])
olca_model_A.kpi = Set(initialize=kpi_ref_id, doc='KPI for optimisation')
olca_model_A.kpi.pprint()

SELECT "TBL_IMPACT_METHODS"."ID" "methods_ID","TBL_IMPACT_METHODS"."REF_ID" "methods_REF_ID","TBL_IMPACT_METHODS"."NAME" "methods_NAME","TBL_IMPACT_CATEGORIES"."REF_ID" "categories_REF_ID" FROM "TBL_IMPACT_CATEGORIES" LEFT JOIN "TBL_IMPACT_METHODS" ON "TBL_IMPACT_CATEGORIES"."F_IMPACT_METHOD"="TBL_IMPACT_METHODS"."ID" WHERE "TBL_IMPACT_METHODS"."name" LIKE 'ReCiPe Midpoint (H) V1.13' AND "TBL_IMPACT_CATEGORIES"."name" LIKE 'Climate change - GWP100%'
kpi : KPI for optimisation
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :    1 : {'42b1e910-3bd2-3741-85ce-a3966798440b',}

## Define parameters

### Total demand

In [24]:
olca_model_A.C = Param(olca_model_A.Fm, initialize={'9891d347-28f8-434d-896a-84a19a4c68a6': 1}, doc='Conversion factors')
olca_model_A.D_total = 1000

### Get impact factors

We obtain the breakdown of the $kpi$ in terms of elementary flows.

In [25]:
recipe_climate_impact_factors = dv.get_impact_category_elementary_flow(dbconn, ref_ids=kpi_ref_id)
olca_model_A.Ef = Param(olca_model_A.E, olca_model_A.kpi, initialize=recipe_climate_impact_factors.stack().to_dict(),
                        within=Any, doc='Impact category for each elementary flow', default = 0)

SELECT "ic"."REF_ID" "IMPACT_CATEGORY_REF_ID","TBL_FLOWS"."REF_ID" "FLOW_REF_ID","TBL_IMPACT_FACTORS"."value" FROM (SELECT "ID","REF_ID" FROM "TBL_IMPACT_CATEGORIES" WHERE "REF_ID" IN ('42b1e910-3bd2-3741-85ce-a3966798440b')) "ic" LEFT JOIN "TBL_IMPACT_FACTORS" ON "TBL_IMPACT_FACTORS"."F_IMPACT_CATEGORY"="ic"."ID" LEFT JOIN "TBL_FLOWS" ON "TBL_IMPACT_FACTORS"."F_FLOW"="TBL_FLOWS"."ID"

### Get environmental flow parameters.

We also need an elementary flow breakdown for each product flow in $F_m$ and $F_t$.

In [26]:
material_process_elementary_dfr = dv.get_process_elementary_flow(dbconn, ref_ids=production_dfr['REF_ID'].to_list(), limit_exchanges=None)
material_process_elementary_dfr

SELECT "e"."F_OWNER","e"."F_FLOW","e"."F_UNIT","e"."RESULTING_AMOUNT_VALUE","TBL_FLOWS"."FLOW_TYPE","TBL_FLOWS"."REF_ID" FROM (SELECT "F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "F_OWNER" IN (5409534)) "e" LEFT JOIN "TBL_FLOWS" ON "TBL_FLOWS"."ID"="e"."F_FLOW" WHERE "TBL_FLOWS"."FlOW_TYPE"='ELEMENTARY_FLOW'

                                      64867712-23c4-3be5-a50e-3631e74571a6
REF_ID
00012c0a-9bff-4787-a7eb-56c3d2f43692                          3.315358e-11
0015ec22-72cb-4af1-8c7b-0ba0d041553c                          3.310572e-11
0017271e-7df5-40bc-833a-36110c1fe5d5                          2.314766e-08
001790f3-fd86-4a0d-a2a1-06c7099d90c8                          1.216010e-05
0017ce28-9f7a-404b-ad55-d3f43ad13cae                          8.560851e-14
...                                                                    ...
ff36578b-f403-4656-b934-81d8d4e02dc8                          5.983466e-09
ff65658c-2d39-44a2-b23e-7ec3c644f064                          7.704246e-06
ff6dccc1-5ebd-42c3-9fd9-3d73db7a3dd2                          2.270127e-10
ffaaffd3-5deb-4508-9e5f-e47f551ac2b8                          1.224823e-12
ffbe8447-6d78-46dd-8378-47019a82ce82                          3.046266e-11

[2046 rows x 1 columns]

In [27]:
transport_process_elementary_dfr = dv.get_process_elementary_flow(dbconn, ref_ids=transport_ref_ids, limit_exchanges=None)
transport_process_elementary_dfr

SELECT "e"."F_OWNER","e"."F_FLOW","e"."F_UNIT","e"."RESULTING_AMOUNT_VALUE","TBL_FLOWS"."FLOW_TYPE","TBL_FLOWS"."REF_ID" FROM (SELECT "F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "F_OWNER" IN (10990570,25967156,33642886)) "e" LEFT JOIN "TBL_FLOWS" ON "TBL_FLOWS"."ID"="e"."F_FLOW" WHERE "TBL_FLOWS"."FlOW_TYPE"='ELEMENTARY_FLOW'

,b0d5d6ec-77f4-3213-b613-2391089d5f96,3886c7a5-bb83-41d8-9b20-41c0df9742ce,13e79207-71e6-36c9-be76-716700ea1e81
REF_ID,,,
00012c0a-9bff-4787-a7eb-56c3d2f43692,3.483849e-14,1.065112e-15,1.343178e-12
0015ec22-72cb-4af1-8c7b-0ba0d041553c,2.219304e-14,4.672549e-16,5.893830e-13
0017271e-7df5-40bc-833a-36110c1fe5d5,1.925405e-08,1.270445e-09,3.141943e-07
001790f3-fd86-4a0d-a2a1-06c7099d90c8,3.069829e-06,1.130097e-07,1.571742e-04
0017ce28-9f7a-404b-ad55-d3f43ad13cae,1.561346e-16,6.389158e-18,9.859565e-15
...,...,...,...
ff36578b-f403-4656-b934-81d8d4e02dc8,3.301364e-09,1.808864e-10,1.065688e-07
ff65658c-2d39-44a2-b23e-7ec3c644f064,1.464274e-06,6.263453e-08,6.750265e-05
ff6dccc1-5ebd-42c3-9fd9-3d73db7a3dd2,9.328170e-12,3.999789e-13,2.801591e-10
ffaaffd3-5deb-4508-9e5f-e47f551ac2b8,1.788079e-14,7.680476e-15,7.796265e-13
ffbe8447-6d78-46dd-8378-47019a82ce82,5.815804e-11,2.034394e-12,2.570178e-09

In [28]:
material_process_elementary_dfr.stack().append(
transport_process_elementary_dfr.stack())

REF_ID
00012c0a-9bff-4787-a7eb-56c3d2f43692  64867712-23c4-3be5-a50e-3631e74571a6    3.315358e-11
0015ec22-72cb-4af1-8c7b-0ba0d041553c  64867712-23c4-3be5-a50e-3631e74571a6    3.310572e-11
0017271e-7df5-40bc-833a-36110c1fe5d5  64867712-23c4-3be5-a50e-3631e74571a6    2.314766e-08
001790f3-fd86-4a0d-a2a1-06c7099d90c8  64867712-23c4-3be5-a50e-3631e74571a6    1.216010e-05
0017ce28-9f7a-404b-ad55-d3f43ad13cae  64867712-23c4-3be5-a50e-3631e74571a6    8.560851e-14
                                                                                  ...
ffaaffd3-5deb-4508-9e5f-e47f551ac2b8  3886c7a5-bb83-41d8-9b20-41c0df9742ce    7.680476e-15
                                      13e79207-71e6-36c9-be76-716700ea1e81    7.796265e-13
ffbe8447-6d78-46dd-8378-47019a82ce82  b0d5d6ec-77f4-3213-b613-2391089d5f96    5.815804e-11
                                      3886c7a5-bb83-41d8-9b20-41c0df9742ce    2.034394e-12
                                      13e79207-71e6-36c9-be76-716700ea1e81    2.570178e-09
Length: 8184, dtype: float64

In [29]:
olca_model_A.EF_Pm = Param(olca_model_A.E, olca_model_A.Pm, initialize=material_process_elementary_dfr.stack().to_dict(),
                        within=Any, doc='Breakdown of material flows into elementary flows', default = 0)
olca_model_A.EF_Pt = Param(olca_model_A.E, olca_model_A.Pt, initialize=transport_process_elementary_dfr.stack().to_dict(),
                        within=Any, doc='Breakdown of transport flows into elementary flows', default = 0)

Next we calculate the environmental impact of each of these flows.

In [30]:
I_Pm_dict = {p: sum(olca_model_A.Ef[e, kpi_ref_id[0]]*olca_model_A.EF_Pm[e, p] for e in olca_model_A.E) for p in olca_model_A.Pm}
I_Pt_dict = {p: sum(olca_model_A.Ef[e, kpi_ref_id[0]]*olca_model_A.EF_Pt[e, p] for e in olca_model_A.E) for p in olca_model_A.Pt}
olca_model_A.EI_Pm = Param(olca_model_A.Pm, initialize=I_Pm_dict, doc='Environment Impact of flow from material process')
olca_model_A.EI_Pt = Param(olca_model_A.Pt, initialize=I_Pt_dict, doc='Environment Impact of flow from transport process')
olca_model_A.EI_Pm.pprint()
olca_model_A.EI_Pt.pprint()

EI_Pm : Environment Impact of flow from material process
    Size=1, Index=Pm, Domain=Any, Default=None, Mutable=False
    Key                                  : Value
    64867712-23c4-3be5-a50e-3631e74571a6 : 0.13944742151786754
EI_Pt : Environment Impact of flow from transport process
    Size=3, Index=Pt, Domain=Any, Default=None, Mutable=False
    Key                                  : Value
    13e79207-71e6-36c9-be76-716700ea1e81 :     1.84302999202496
    3886c7a5-bb83-41d8-9b20-41c0df9742ce : 0.009366999860024065
    b0d5d6ec-77f4-3213-b613-2391089d5f96 : 0.056119557120436626

### Distances

For each process in $P$ we need to identify the corresponding product flow in $F$. The following function does this.

In [31]:
process_dfr = dv.get_process_product_flow(dbconn, ref_ids=material_ref_ids + transport_ref_ids)
process = dict(zip(process_dfr['FLOW_REF_ID'], process_dfr['PROCESS_REF_ID']))
process_dfr

SELECT "TBL_PROCESSES"."REF_ID" "PROCESS_REF_ID","TBL_PROCESSES"."NAME" "PROCESS_NAME","TBL_LOCATIONS"."NAME" "LOCATION","TBL_FLOWS"."REF_ID" "FLOW_REF_ID","TBL_FLOWS"."NAME" "FLOW_NAME" FROM (SELECT "F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "F_OWNER" IN (5409534,10990570,25967156,33642886)) "e" LEFT JOIN "TBL_FLOWS" ON "TBL_FLOWS"."ID"="e"."F_FLOW" LEFT JOIN "TBL_PROCESSES" ON "TBL_PROCESSES"."ID"="e"."F_OWNER" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_FLOWS"."FlOW_TYPE"='PRODUCT_FLOW'

,PROCESS_REF_ID,PROCESS_NAME,LOCATION,FLOW_REF_ID,FLOW_NAME
0,64867712-23c4-3be5-a50e-3631e74571a6,"lemon production | lemon | APOS, S",Spain,9891d347-28f8-434d-896a-84a19a4c68a6,lemon
1,b0d5d6ec-77f4-3213-b613-2391089d5f96,"transport, freight train, diesel | transport, ...",Europe without Switzerland,0ace02fa-eca5-482d-a829-c18e46a52db4,"transport, freight train"
2,3886c7a5-bb83-41d8-9b20-41c0df9742ce,"transport, freight, sea, container ship | tran...",Global,2741cea8-327f-4e0f-9401-b10858dc68f8,"transport, freight, sea, container ship"
3,13e79207-71e6-36c9-be76-716700ea1e81,"transport, freight, light commercial vehicle |...",Europe without Switzerland,090f56b8-6a83-48c1-ae26-234d04771e53,"transport, freight, light commercial vehicle"

We calculate the distance between the UK and Spain using openLCA data. We only want the lemon production location because that's where the lemon originate. Positive latitude is N, positive longitude is E.

In [32]:
locations = dv.get_process_locations(dbconn, list(process.values()))
locations

SELECT "TBL_PROCESSES"."REF_ID","TBL_PROCESSES"."NAME","TBL_LOCATIONS"."LATITUDE","TBL_LOCATIONS"."LONGITUDE" FROM "TBL_PROCESSES" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_PROCESSES"."REF_ID" IN ('64867712-23c4-3be5-a50e-3631e74571a6','b0d5d6ec-77f4-3213-b613-2391089d5f96','3886c7a5-bb83-41d8-9b20-41c0df9742ce','13e79207-71e6-36c9-be76-716700ea1e81')

,REF_ID,NAME,LATITUDE,LONGITUDE
0,64867712-23c4-3be5-a50e-3631e74571a6,"lemon production | lemon | APOS, S",40.220000,-3.640000
1,b0d5d6ec-77f4-3213-b613-2391089d5f96,"transport, freight train, diesel | transport, ...",48.597508,6.421103
2,3886c7a5-bb83-41d8-9b20-41c0df9742ce,"transport, freight, sea, container ship | tran...",0.000000,0.000000
3,13e79207-71e6-36c9-be76-716700ea1e81,"transport, freight, light commercial vehicle |...",48.597508,6.421103

We also need the location of the UK which is part of the Task. Currently, this is hardcoded. We use a package
to calculate the distance in km between latitudes and longitudes using a Haversine formula.

In [33]:
import pygeodesy.formy as pygeo 
# London, UK
uk_latitude = 51.5074 # N
uk_longitude = -0.1278 # E

def dist(row):
    return pygeo.haversine(uk_latitude, uk_longitude, row['LATITUDE'], row['LONGITUDE']) / 1000
locations['dist'] = locations.apply(dist, axis=1)
locations

,REF_ID,NAME,LATITUDE,LONGITUDE,dist
0,64867712-23c4-3be5-a50e-3631e74571a6,"lemon production | lemon | APOS, S",40.220000,-3.640000,1283.834155
1,b0d5d6ec-77f4-3213-b613-2391089d5f96,"transport, freight train, diesel | transport, ...",48.597508,6.421103,568.268672
2,3886c7a5-bb83-41d8-9b20-41c0df9742ce,"transport, freight, sea, container ship | tran...",0.000000,0.000000,5727.382053
3,13e79207-71e6-36c9-be76-716700ea1e81,"transport, freight, light commercial vehicle |...",48.597508,6.421103,568.268672

In [34]:
dist_init = {'64867712-23c4-3be5-a50e-3631e74571a6': 
         locations.loc[locations['REF_ID']=='64867712-23c4-3be5-a50e-3631e74571a6', 'dist'].values[0]}
olca_model_A.dist = Param(olca_model_A.Pm, within=NonNegativeReals, initialize = dist_init, doc='Distance')
olca_model_A.dist.pprint()

dist : Distance
    Size=1, Index=Pm, Domain=NonNegativeReals, Default=None, Mutable=False
    Key                                  : Value
    64867712-23c4-3be5-a50e-3631e74571a6 : 1283.834155118865

## Define continuous decision variables

In [35]:
olca_model_A.Flow = Var(olca_model_A.Fm, olca_model_A.Pm, within=NonNegativeReals, doc='Material flow')
olca_model_A.t = Var(olca_model_A.Ft, olca_model_A.Pt, within=NonNegativeReals, doc='Transport Service flow')
olca_model_A.f = Var(olca_model_A.Fm, olca_model_A.Pm, olca_model_A.Ft, olca_model_A.Pt, within=NonNegativeReals, doc='Transport flow')
olca_model_A.Flow.pprint()
olca_model_A.t.pprint()
olca_model_A.f.pprint()

Flow : Material flow
    Size=1, Index=Flow_index
    Key                                                                              : Lower : Value : Upper : Fixed : Stale : Domain
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6') :     0 :  None :  None : False :  True : NonNegativeReals
t : Transport Service flow
    Size=9, Index=t_index
    Key                                                                              : Lower : Value : Upper : Fixed : Stale : Domain
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :  None :  None : False :  True : NonNegativeReals
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :  None :  None : False :  True : NonNegativeReals
    ('090f56b8-6a83-48c1-ae26-234d04771e53', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :  None :  None : False :  True : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :  None :  None : False :  True : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :  None :  None : False :  True : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :  None :  None : False :  True : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :  None :  None : False :  True : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :  None :  None : False :  True : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :  None :  None : False :  True : NonNegativeReals
f : Transport flow
    Size=9, Index=f_index
    Key                                                                                                                                                              : Lower : Value : Upper : Fixed : Stale : Domain
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :  None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :  None :  None : False :  True : NonNegativeReals

## Define constraints

In [36]:
def flow_demand_rule(model, fm, pm):
    return model.Flow[fm, pm] * model.C[fm] >= model.D_total
olca_model_A.demand_constraint = Constraint(olca_model_A.Fm, olca_model_A.Pm, rule=flow_demand_rule)
olca_model_A.demand_constraint.pprint()

demand_constraint : Size=1, Index=demand_constraint_index, Active=True
    Key                                                                              : Lower  : Body                                                                            : Upper : Active
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6') : 1000.0 : Flow[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6] :  +Inf :   True

In [37]:
def transport_flow_rule(model, ft, pt):
    return model.t[ft, pt] == sum(model.f[fm, pm, ft, pt]*model.dist[process[fm]] 
                                  for fm in olca_model_A.Fm for pm in olca_model_A.Pm)
olca_model_A.transport_constraint = Constraint(olca_model_A.Ft, olca_model_A.Pt, rule=transport_flow_rule)
olca_model_A.transport_constraint.pprint()

transport_constraint : Size=9, Index=transport_constraint_index, Active=True
    Key                                                                              : Lower : Body                                                                                                                                                                                                                                                    : Upper : Active
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '13e79207-71e6-36c9-be76-716700ea1e81') :   0.0 : t[090f56b8-6a83-48c1-ae26-234d04771e53,13e79207-71e6-36c9-be76-716700ea1e81] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,090f56b8-6a83-48c1-ae26-234d04771e53,13e79207-71e6-36c9-be76-716700ea1e81] :   0.0 :   True
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :   0.0 : t[090f56b8-6a83-48c1-ae26-234d04771e53,3886c7a5-bb83-41d8-9b20-41c0df9742ce] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,090f56b8-6a83-48c1-ae26-234d04771e53,3886c7a5-bb83-41d8-9b20-41c0df9742ce] :   0.0 :   True
    ('090f56b8-6a83-48c1-ae26-234d04771e53', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :   0.0 : t[090f56b8-6a83-48c1-ae26-234d04771e53,b0d5d6ec-77f4-3213-b613-2391089d5f96] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,090f56b8-6a83-48c1-ae26-234d04771e53,b0d5d6ec-77f4-3213-b613-2391089d5f96] :   0.0 :   True
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '13e79207-71e6-36c9-be76-716700ea1e81') :   0.0 : t[0ace02fa-eca5-482d-a829-c18e46a52db4,13e79207-71e6-36c9-be76-716700ea1e81] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,0ace02fa-eca5-482d-a829-c18e46a52db4,13e79207-71e6-36c9-be76-716700ea1e81] :   0.0 :   True
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :   0.0 : t[0ace02fa-eca5-482d-a829-c18e46a52db4,3886c7a5-bb83-41d8-9b20-41c0df9742ce] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,0ace02fa-eca5-482d-a829-c18e46a52db4,3886c7a5-bb83-41d8-9b20-41c0df9742ce] :   0.0 :   True
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :   0.0 : t[0ace02fa-eca5-482d-a829-c18e46a52db4,b0d5d6ec-77f4-3213-b613-2391089d5f96] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,0ace02fa-eca5-482d-a829-c18e46a52db4,b0d5d6ec-77f4-3213-b613-2391089d5f96] :   0.0 :   True
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '13e79207-71e6-36c9-be76-716700ea1e81') :   0.0 : t[2741cea8-327f-4e0f-9401-b10858dc68f8,13e79207-71e6-36c9-be76-716700ea1e81] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,2741cea8-327f-4e0f-9401-b10858dc68f8,13e79207-71e6-36c9-be76-716700ea1e81] :   0.0 :   True
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :   0.0 : t[2741cea8-327f-4e0f-9401-b10858dc68f8,3886c7a5-bb83-41d8-9b20-41c0df9742ce] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,2741cea8-327f-4e0f-9401-b10858dc68f8,3886c7a5-bb83-41d8-9b20-41c0df9742ce] :   0.0 :   True
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :   0.0 : t[2741cea8-327f-4e0f-9401-b10858dc68f8,b0d5d6ec-77f4-3213-b613-2391089d5f96] - 1283.834155118865*f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,2741cea8-327f-4e0f-9401-b10858dc68f8,b0d5d6ec-77f4-3213-b613-2391089d5f96] :   0.0 :   True

In [38]:
def flow_rule(model, fm, pm):
    return model.Flow[fm, pm] == sum(model.f[fm, pm, ft, pt] 
                                 for ft in olca_model_A.Ft for pt in olca_model_A.Pt)
olca_model_A.flow_constraint = Constraint(olca_model_A.Fm, olca_model_A.Pm, rule=flow_rule)
olca_model_A.flow_constraint.pprint()

flow_constraint : Size=1, Index=flow_constraint_index, Active=True
    Key                                                                              : Lower : Body                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               : Upper : Active
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6') :   0.0 : Flow[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6] - (f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,0ace02fa-eca5-482d-a829-c18e46a52db4,b0d5d6ec-77f4-3213-b613-2391089d5f96] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,0ace02fa-eca5-482d-a829-c18e46a52db4,13e79207-71e6-36c9-be76-716700ea1e81] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,0ace02fa-eca5-482d-a829-c18e46a52db4,3886c7a5-bb83-41d8-9b20-41c0df9742ce] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,090f56b8-6a83-48c1-ae26-234d04771e53,b0d5d6ec-77f4-3213-b613-2391089d5f96] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,090f56b8-6a83-48c1-ae26-234d04771e53,13e79207-71e6-36c9-be76-716700ea1e81] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,090f56b8-6a83-48c1-ae26-234d04771e53,3886c7a5-bb83-41d8-9b20-41c0df9742ce] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,2741cea8-327f-4e0f-9401-b10858dc68f8,b0d5d6ec-77f4-3213-b613-2391089d5f96] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,2741cea8-327f-4e0f-9401-b10858dc68f8,13e79207-71e6-36c9-be76-716700ea1e81] + f[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6,2741cea8-327f-4e0f-9401-b10858dc68f8,3886c7a5-bb83-41d8-9b20-41c0df9742ce]) :   0.0 :   True

## Define objective

In [39]:
olca_model_A.obj = Objective(
    expr=sum(olca_model_A.Flow[fm, pm] * olca_model_A.EI_Pm[process[fm]] 
             for fm in olca_model_A.Fm for pm in olca_model_A.Pm) + 
    sum(olca_model_A.t[ft, pt] * olca_model_A.EI_Pt[process[ft]] 
        for ft in olca_model_A.Ft for pt in olca_model_A.Pt), sense=minimize)
olca_model_A.obj.pprint()

obj : Size=1, Index=None, Active=True
    Key  : Active : Sense    : Expression
    None :   True : minimize : 0.056119557120436626*t[0ace02fa-eca5-482d-a829-c18e46a52db4,b0d5d6ec-77f4-3213-b613-2391089d5f96] + 0.056119557120436626*t[0ace02fa-eca5-482d-a829-c18e46a52db4,13e79207-71e6-36c9-be76-716700ea1e81] + 0.056119557120436626*t[0ace02fa-eca5-482d-a829-c18e46a52db4,3886c7a5-bb83-41d8-9b20-41c0df9742ce] + 1.84302999202496*t[090f56b8-6a83-48c1-ae26-234d04771e53,b0d5d6ec-77f4-3213-b613-2391089d5f96] + 1.84302999202496*t[090f56b8-6a83-48c1-ae26-234d04771e53,13e79207-71e6-36c9-be76-716700ea1e81] + 1.84302999202496*t[090f56b8-6a83-48c1-ae26-234d04771e53,3886c7a5-bb83-41d8-9b20-41c0df9742ce] + 0.009366999860024065*t[2741cea8-327f-4e0f-9401-b10858dc68f8,b0d5d6ec-77f4-3213-b613-2391089d5f96] + 0.009366999860024065*t[2741cea8-327f-4e0f-9401-b10858dc68f8,13e79207-71e6-36c9-be76-716700ea1e81] + 0.009366999860024065*t[2741cea8-327f-4e0f-9401-b10858dc68f8,3886c7a5-bb83-41d8-9b20-41c0df9742ce] + 0.13944742151786754*Flow[9891d347-28f8-434d-896a-84a19a4c68a6,64867712-23c4-3be5-a50e-3631e74571a6]

## Apply solver

In [40]:
opt = SolverFactory("glpk")
results = opt.solve(olca_model_A)
results.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 12165.1217728104
  Upper bound: 12165.1217728104
  Number of objectives: 1
  Number of constraints: 12
  Number of variables: 20
  Number of nonzeros: 30
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.021490812301635742
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

## Generate results

In [41]:
olca_model_A.Flow.display()
olca_model_A.t.display()
olca_model_A.f.display()

Flow : Material flow
    Size=1, Index=Flow_index
    Key                                                                              : Lower : Value  : Upper : Fixed : Stale : Domain
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6') :     0 : 1000.0 :  None : False : False : NonNegativeReals
t : Transport Service flow
    Size=9, Index=t_index
    Key                                                                              : Lower : Value            : Upper : Fixed : Stale : Domain
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('090f56b8-6a83-48c1-ae26-234d04771e53', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 : 1283834.15511886 :  None : False : False : NonNegativeReals
f : Transport flow
    Size=9, Index=f_index
    Key                                                                                                                                                              : Lower : Value  : Upper : Fixed : Stale : Domain
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', '13e79207-71e6-36c9-be76-716700ea1e81') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', '3886c7a5-bb83-41d8-9b20-41c0df9742ce') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', 'b0d5d6ec-77f4-3213-b613-2391089d5f96') :     0 : 1000.0 :  None : False : False : NonNegativeReals

The following function that we used earlier allows us to see the mapping between processes and flow reference ids and their names.

In [42]:
 dv.get_process_product_flow(dbconn, ref_ids=material_ref_ids + transport_ref_ids)

SELECT "TBL_PROCESSES"."REF_ID" "PROCESS_REF_ID","TBL_PROCESSES"."NAME" "PROCESS_NAME","TBL_LOCATIONS"."NAME" "LOCATION","TBL_FLOWS"."REF_ID" "FLOW_REF_ID","TBL_FLOWS"."NAME" "FLOW_NAME" FROM (SELECT "F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "F_OWNER" IN (5409534,10990570,25967156,33642886)) "e" LEFT JOIN "TBL_FLOWS" ON "TBL_FLOWS"."ID"="e"."F_FLOW" LEFT JOIN "TBL_PROCESSES" ON "TBL_PROCESSES"."ID"="e"."F_OWNER" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_FLOWS"."FlOW_TYPE"='PRODUCT_FLOW'

,PROCESS_REF_ID,PROCESS_NAME,LOCATION,FLOW_REF_ID,FLOW_NAME
0,64867712-23c4-3be5-a50e-3631e74571a6,"lemon production | lemon | APOS, S",Spain,9891d347-28f8-434d-896a-84a19a4c68a6,lemon
1,b0d5d6ec-77f4-3213-b613-2391089d5f96,"transport, freight train, diesel | transport, ...",Europe without Switzerland,0ace02fa-eca5-482d-a829-c18e46a52db4,"transport, freight train"
2,3886c7a5-bb83-41d8-9b20-41c0df9742ce,"transport, freight, sea, container ship | tran...",Global,2741cea8-327f-4e0f-9401-b10858dc68f8,"transport, freight, sea, container ship"
3,13e79207-71e6-36c9-be76-716700ea1e81,"transport, freight, light commercial vehicle |...",Europe without Switzerland,090f56b8-6a83-48c1-ae26-234d04771e53,"transport, freight, light commercial vehicle"

# Mola specification

The `mola` python package has an abstract pyomo model built into its `GeneralSpecification` class. In this section, we use the abstract model to solve the optimisation problem again.

First we create a Specification object.

In [43]:
import mola.specification5 as ms
from importlib import reload
spec = ms.GeneralSpecification()

## Configuration

We create a dictionary of default sets using the specification.

In [44]:
user_sets = spec.get_default_sets()

We build the sets using the previous data queries in this notebook.

In [45]:
user_sets['F_m'] = list(olca_model_A.Fm)
user_sets['P_m'] = list(olca_model_A.Pm)
user_sets['F_t'] = list(olca_model_A.Ft)
user_sets['P_t'] = list(olca_model_A.Pt)
user_sets['KPI'] = list(olca_model_A.kpi)
user_sets['F'] = list(olca_model_A.Fm) + list(olca_model_A.Ft)
user_sets['P'] = list(olca_model_A.Pm) + list(olca_model_A.Pt)
user_sets

{'F_m': ['9891d347-28f8-434d-896a-84a19a4c68a6'],
 'F_s': [],
 'F_t': ['0ace02fa-eca5-482d-a829-c18e46a52db4',
  '090f56b8-6a83-48c1-ae26-234d04771e53',
  '2741cea8-327f-4e0f-9401-b10858dc68f8'],
 'D': ['d1'],
 'T': ['t1'],
 'K': ['k1'],
 'P_m': ['64867712-23c4-3be5-a50e-3631e74571a6'],
 'P_t': ['b0d5d6ec-77f4-3213-b613-2391089d5f96',
  '13e79207-71e6-36c9-be76-716700ea1e81',
  '3886c7a5-bb83-41d8-9b20-41c0df9742ce'],
 'P_s': [],
 'KPI': ['42b1e910-3bd2-3741-85ce-a3966798440b'],
 'OBJ': ['environment', 'cost'],
 'F': ['9891d347-28f8-434d-896a-84a19a4c68a6',
  '0ace02fa-eca5-482d-a829-c18e46a52db4',
  '090f56b8-6a83-48c1-ae26-234d04771e53',
  '2741cea8-327f-4e0f-9401-b10858dc68f8'],
 'P': ['64867712-23c4-3be5-a50e-3631e74571a6',
  'b0d5d6ec-77f4-3213-b613-2391089d5f96',
  '13e79207-71e6-36c9-be76-716700ea1e81',
  '3886c7a5-bb83-41d8-9b20-41c0df9742ce']}

The sets are saved to the file system because a DataPortal needs data in json files.

In [46]:
lemon_set_file_name = 'lemon_set_data.json'
import json
with open(lemon_set_file_name, 'w') as s:
    json.dump(user_sets, s, indent=4)

Then we do the same with the model parameters previously identified.

In [47]:
user_parameters = spec.get_default_parameters(user_sets)
user_parameters

{'C': [{'index': ['9891d347-28f8-434d-896a-84a19a4c68a6', 'k1', 'd1', 't1'],
   'value': 1}],
 'd': [{'index': ['64867712-23c4-3be5-a50e-3631e74571a6',
    '9891d347-28f8-434d-896a-84a19a4c68a6',
    'k1',
    't1'],
   'value': 0}],
 'X': [{'index': ['k1', 't1'], 'value': inf}],
 'Y': [{'index': ['k1', 't1'], 'value': inf}],
 'Demand': [{'index': ['d1', 'k1', 't1'], 'value': 0}],
 'Total_Demand': [{'index': ['d1', 'k1'], 'value': 0}],
 'J': [{'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '0ace02fa-eca5-482d-a829-c18e46a52db4',
    'b0d5d6ec-77f4-3213-b613-2391089d5f96'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '0ace02fa-eca5-482d-a829-c18e46a52db4',
    '13e79207-71e6-36c9-be76-716700ea1e81'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '0ace02fa-eca5-482d-a829-c18e46a52db4',
    '3886c7a5-bb83-41d8-9b20-41c0df9742ce'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '090f56b8-6a83-48c1-ae26-234d04771e53',
    'b0d5d6ec-77f4-3213-b613-2391089d5f96'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '090f56b8-6a83-48c1-ae26-234d04771e53',
    '13e79207-71e6-36c9-be76-716700ea1e81'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '090f56b8-6a83-48c1-ae26-234d04771e53',
    '3886c7a5-bb83-41d8-9b20-41c0df9742ce'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '2741cea8-327f-4e0f-9401-b10858dc68f8',
    'b0d5d6ec-77f4-3213-b613-2391089d5f96'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '2741cea8-327f-4e0f-9401-b10858dc68f8',
    '13e79207-71e6-36c9-be76-716700ea1e81'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '2741cea8-327f-4e0f-9401-b10858dc68f8',
    '3886c7a5-bb83-41d8-9b20-41c0df9742ce'],
   'value': 0}],
 'L': [],
 'w': [{'index': ['environment'], 'value': 0},
  {'index': ['cost'], 'value': 0}]}

For binary parameter $J$, we need to ensure that the transport flow is the product flow of the relevant transport process. Otherwise we will optimise over possibilities that do not exist in the openLCA database.

In [48]:
user_parameters['C'][0]['value'] = [value(olca_model_A.C[i]) for i in olca_model_A.C][0]
user_parameters['Total_Demand'][0]['value'] = value(olca_model_A.D_total)
user_parameters['w'][0]['value'] = 1
link_df = dv.get_process_product_flow(dbconn, ref_ids=transport_ref_ids)[['PROCESS_REF_ID', 'FLOW_REF_ID']]
for j in user_parameters['J']:
    fm, pm, ft, pt = j['index']
    for index, row in link_df.iterrows():
        if ft == row['FLOW_REF_ID'] and pt == row['PROCESS_REF_ID']:
            j['value'] = 1
user_parameters['X'][0]['value'] = uk_longitude
user_parameters['Y'][0]['value'] = uk_latitude
user_parameters

SELECT "TBL_PROCESSES"."REF_ID" "PROCESS_REF_ID","TBL_PROCESSES"."NAME" "PROCESS_NAME","TBL_LOCATIONS"."NAME" "LOCATION","TBL_FLOWS"."REF_ID" "FLOW_REF_ID","TBL_FLOWS"."NAME" "FLOW_NAME" FROM (SELECT "F_OWNER","F_FLOW","F_UNIT","RESULTING_AMOUNT_VALUE" FROM "TBL_EXCHANGES" WHERE "F_OWNER" IN (10990570,25967156,33642886)) "e" LEFT JOIN "TBL_FLOWS" ON "TBL_FLOWS"."ID"="e"."F_FLOW" LEFT JOIN "TBL_PROCESSES" ON "TBL_PROCESSES"."ID"="e"."F_OWNER" LEFT JOIN "TBL_LOCATIONS" ON CAST("TBL_PROCESSES"."F_LOCATION" AS INT)="TBL_LOCATIONS"."ID" WHERE "TBL_FLOWS"."FlOW_TYPE"='PRODUCT_FLOW'

{'C': [{'index': ['9891d347-28f8-434d-896a-84a19a4c68a6', 'k1', 'd1', 't1'],
   'value': 1}],
 'd': [{'index': ['64867712-23c4-3be5-a50e-3631e74571a6',
    '9891d347-28f8-434d-896a-84a19a4c68a6',
    'k1',
    't1'],
   'value': 0}],
 'X': [{'index': ['k1', 't1'], 'value': -0.1278}],
 'Y': [{'index': ['k1', 't1'], 'value': 51.5074}],
 'Demand': [{'index': ['d1', 'k1', 't1'], 'value': 0}],
 'Total_Demand': [{'index': ['d1', 'k1'], 'value': 1000}],
 'J': [{'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '0ace02fa-eca5-482d-a829-c18e46a52db4',
    'b0d5d6ec-77f4-3213-b613-2391089d5f96'],
   'value': 1},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '0ace02fa-eca5-482d-a829-c18e46a52db4',
    '13e79207-71e6-36c9-be76-716700ea1e81'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '0ace02fa-eca5-482d-a829-c18e46a52db4',
    '3886c7a5-bb83-41d8-9b20-41c0df9742ce'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '090f56b8-6a83-48c1-ae26-234d04771e53',
    'b0d5d6ec-77f4-3213-b613-2391089d5f96'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '090f56b8-6a83-48c1-ae26-234d04771e53',
    '13e79207-71e6-36c9-be76-716700ea1e81'],
   'value': 1},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '090f56b8-6a83-48c1-ae26-234d04771e53',
    '3886c7a5-bb83-41d8-9b20-41c0df9742ce'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '2741cea8-327f-4e0f-9401-b10858dc68f8',
    'b0d5d6ec-77f4-3213-b613-2391089d5f96'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '2741cea8-327f-4e0f-9401-b10858dc68f8',
    '13e79207-71e6-36c9-be76-716700ea1e81'],
   'value': 0},
  {'index': ['9891d347-28f8-434d-896a-84a19a4c68a6',
    '64867712-23c4-3be5-a50e-3631e74571a6',
    '2741cea8-327f-4e0f-9401-b10858dc68f8',
    '3886c7a5-bb83-41d8-9b20-41c0df9742ce'],
   'value': 1}],
 'L': [],
 'w': [{'index': ['environment'], 'value': 1},
  {'index': ['cost'], 'value': 0}]}

In [49]:
lemon_parameter_file_name = 'lemon_parameter_data.json'
import json
with open(lemon_parameter_file_name, 'w') as p:
    json.dump(user_parameters, p, indent=4)

## Populate specification

We populate the specification and create a concrete model using the json files containing the sets and parameters.

There is a flag in the Specification object to indicate that the distance parameter $d_{f_m, p_m}$ should be set from openLCA location data rather than specified by the user.

In [50]:
spec.settings['distance_calculated'] = True
concrete_model = spec.populate(['lemon_set_data.json', 'lemon_parameter_data.json'])
spec.settings

WARNING: DEPRECATED: Providing construction data to SetOperator objects is
    deprecated.  This data is ignored and in a future version will not be
    allowed  (deprecated in 5.7) (called from
    /home/paul/anaconda3/envs/LCA/lib/python3.7/site-
    packages/pyomo/core/base/set.py:2969)
WARNING: DEPRECATED: Providing construction data to SetOperator objects is
    deprecated.  This data is ignored and in a future version will not be
    allowed  (deprecated in 5.7) (called from
    /home/paul/anaconda3/envs/LCA/lib/python3.7/site-
    packages/pyomo/core/base/set.py:2969)

{'distance_calculated': True, 'test_setting': False}

The longitude and latitude data of the production process has been populated using openLCA data.

In [51]:
concrete_model.XI.pprint()
concrete_model.YI.pprint()

XI : Longitude
    Size=1, Index=XI_index, Domain=Any, Default=None, Mutable=True
    Key                                                                              : Value
    ('64867712-23c4-3be5-a50e-3631e74571a6', '9891d347-28f8-434d-896a-84a19a4c68a6') : -3.64
YI : Latitude
    Size=1, Index=YI_index, Domain=Any, Default=None, Mutable=True
    Key                                                                              : Value
    ('64867712-23c4-3be5-a50e-3631e74571a6', '9891d347-28f8-434d-896a-84a19a4c68a6') : 40.22

We check that the distance parameter has been correctly determined from openLCA data.

In [52]:
concrete_model.d.pprint()

d : Distance
    Size=1, Index=d_index, Domain=Reals, Default=None, Mutable=True
    Key                                                                                          : Value
    ('64867712-23c4-3be5-a50e-3631e74571a6', '9891d347-28f8-434d-896a-84a19a4c68a6', 'k1', 't1') :     0

In [53]:
concrete_model.dd.pprint()

dd : Calculated distance
    Size=1, Index=dd_index, Domain=Any, Default=None, Mutable=True
    Key                                                                                          : Value
    ('64867712-23c4-3be5-a50e-3631e74571a6', '9891d347-28f8-434d-896a-84a19a4c68a6', 'k1', 't1') : 1283.834155118865

In [54]:
concrete_model.Total_Demand.pprint()

Total_Demand : Total demand
    Size=1, Index=Total_Demand_index, Domain=Reals, Default=None, Mutable=True
    Key          : Value
    ('d1', 'k1') :  1000

## Solution

We only set the environment objective function as active.

In [55]:
concrete_model.obj1.activate()
concrete_model.obj.deactivate()
concrete_model.obj2.deactivate()
results = opt.solve(concrete_model)
results.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 12165.1217728104
  Upper bound: 12165.1217728104
  Number of objectives: 1
  Number of constraints: 14
  Number of variables: 15
  Number of nonzeros: 20
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 1
      Number of created subproblems: 1
  Error rc: 0
  Time: 0.0224606990814209
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [56]:
concrete_model.Flow.pprint()

Flow : Material flow
    Size=1, Index=Flow_index
    Key                                                                                          : Lower : Value  : Upper : Fixed : Stale : Domain
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', 'k1', 't1') :     0 : 1000.0 :  None : False : False : NonNegativeReals

In [57]:
concrete_model.Specific_Transport_Flow.pprint()

Specific_Transport_Flow : Specific Transport Flow
    Size=9, Index=Specific_Transport_Flow_index
    Key                                                                                          : Lower : Value            : Upper : Fixed : Stale : Domain
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '13e79207-71e6-36c9-be76-716700ea1e81', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('090f56b8-6a83-48c1-ae26-234d04771e53', '3886c7a5-bb83-41d8-9b20-41c0df9742ce', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('090f56b8-6a83-48c1-ae26-234d04771e53', 'b0d5d6ec-77f4-3213-b613-2391089d5f96', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '13e79207-71e6-36c9-be76-716700ea1e81', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', '3886c7a5-bb83-41d8-9b20-41c0df9742ce', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('0ace02fa-eca5-482d-a829-c18e46a52db4', 'b0d5d6ec-77f4-3213-b613-2391089d5f96', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '13e79207-71e6-36c9-be76-716700ea1e81', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', '3886c7a5-bb83-41d8-9b20-41c0df9742ce', 'k1', 't1') :     0 : 1283834.15511886 :  None : False : False : NonNegativeReals
    ('2741cea8-327f-4e0f-9401-b10858dc68f8', 'b0d5d6ec-77f4-3213-b613-2391089d5f96', 'k1', 't1') :     0 :              0.0 :  None : False : False : NonNegativeReals

In [58]:
concrete_model.Specific_Material_Transport_Flow.pprint()

Specific_Material_Transport_Flow : Specific Material Transport Flow
    Size=9, Index=Specific_Material_Transport_Flow_index
    Key                                                                                                                                                                          : Lower : Value  : Upper : Fixed : Stale : Domain
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', '13e79207-71e6-36c9-be76-716700ea1e81', 'k1', 't1') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', '3886c7a5-bb83-41d8-9b20-41c0df9742ce', 'k1', 't1') :     0 :   None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '090f56b8-6a83-48c1-ae26-234d04771e53', 'b0d5d6ec-77f4-3213-b613-2391089d5f96', 'k1', 't1') :     0 :   None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', '13e79207-71e6-36c9-be76-716700ea1e81', 'k1', 't1') :     0 :   None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', '3886c7a5-bb83-41d8-9b20-41c0df9742ce', 'k1', 't1') :     0 :   None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '0ace02fa-eca5-482d-a829-c18e46a52db4', 'b0d5d6ec-77f4-3213-b613-2391089d5f96', 'k1', 't1') :     0 :    0.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', '13e79207-71e6-36c9-be76-716700ea1e81', 'k1', 't1') :     0 :   None :  None : False :  True : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', '3886c7a5-bb83-41d8-9b20-41c0df9742ce', 'k1', 't1') :     0 : 1000.0 :  None : False : False : NonNegativeReals
    ('9891d347-28f8-434d-896a-84a19a4c68a6', '64867712-23c4-3be5-a50e-3631e74571a6', '2741cea8-327f-4e0f-9401-b10858dc68f8', 'b0d5d6ec-77f4-3213-b613-2391089d5f96', 'k1', 't1') :     0 :   None :  None : False :  True : NonNegativeReals